#what-we-do {
  background-color: #0088cc !important;
  border-color: #0077b3 !important; }

.what-we-do-back {
  color: white; }

#submit-query {
  background-color: #0088cc !important;
  border-color: #0077b3 !important;
  color: white; }

nav {
  width: 90%;
  display: flex;
  align-items: center; }

.list-social {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.list-font {
  font-size: 1.0rem; }

.contact {
  width: 10%; }

#carouselExampleIndicators {
  width: 100%; }

.navbar-nav > li {
  padding-left: 52px;
  padding-right: 97px; }
